.titlebar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 80%;

  padding-inline: 80px;
}

.welcomeToZ {
  background-image: url("/images/titlebars/z fuel station.png");
}

.findStation {
  background-image: url("/images/titlebars/🌎 Map Maker_  (Assassins Creed IV).png");
}

.createAccSignIn {
  background-image: url("/images/titlebars/create-account.png");
  /* background-position: 50% 50%; */
}

.shareTank {
  background-image: url("/images/titlebars/share-tank.png");
  /* background-position: 60% 40%; */
}

.onlineOrder {
  background-image: url("/images/titlebars/coffee-doodle.png");
  /* background-position: 60% 40%; */
}

.priceComparison {
  background-image: url("/images/titlebars/money-doodle.png");
  /* background-position: 50% 50%; */
}

.paymentCards {
  background-image: url("/images/titlebars/payment.png");
  /* background-position: 50% 50%; */
}

.backgroundColor {
  /* background: linear-gradient(to right, #f36e20, #ffdd01); */
  background-image: url("/images/gradients/orangeGradient.png");
  background-size: cover;
  height: 150px;
  opacity: 100%;
}

.titlebar h1 {
  color: white;
  font-size: 3em;
  position: relative;
  z-index: 1;
  text-shadow: 20px 20px 5px rgba(0, 0, 0, 0.5); /* 2px horizontal, 2px vertical, 5px blur, black shadow with opacity - took from gpt */
}

.titlebar h2 {
  color: white;
  font-size: 28px;
  position: relative;
  z-index: 1;
  text-shadow: 20px 20px 5px rgba(0, 0, 0, 0.5); /* 2px horizontal, 2px vertical, 5px blur, black shadow with opacity - took from gpt */
}

/* find station */

.backgroundColor .findStation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */

.findStatBtn {
  margin-left: 200px;
  width: 100%;

  /* background-color: #d3b80a; */
}

.findStationLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  padding: 8px 10px;
  border: solid white 2px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  width: 200px;
  /* background-color: #d3b80a; */
}

.findStationLink .icon {
  font-size: 18px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 30px;

  /* background-color: aqua; */
}

.rightSection {
  background-color: aqua;
  width: 50%;
}

/* Respoonse Design */

/* For screens <= 530, hide the links by default */
/* @media (min-width: 320) {
  .findStatBtn {
    margin-left: 20px;
  }
} */

/* For screens <= 950px, hide the links by default */
@media (max-width: 950px) {
  .titlebar h1 {
    font-size: 2em;
  }

  .findStatBtn {
    margin-left: 0;
    /* background-color: pink; */
  }
}
