* {
  font-family: "Roboto", sans-serif;
}

.headerlinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-inline: 20px;
}

.navbarlinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.leftSection,
.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 20px;
}

.leftSection {
  width: 60%;
}

.rightSection {
  justify-content: flex-end;
  width: 40%;
}

.navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 15px 20px;
  background-color: inherit;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.icon {
  margin-bottom: 5px;
}

.languageIcon {
  font-size: larger;
}

/* ------------------------------------------------ */

.headerlinksContainer .navlink {
  flex-direction: column;
  justify-content: space-between;
  color: black;
  padding: 5px 50px 5px 5px;
}

.navbarlinksContainer .navlink {
  margin-left: 20px;
  color: black;
}

.headerlinkscontainer.navlink,
.navbarlinksContainer .navlink:hover {
  cursor: pointer;
}

.navbarlinksContainer .icon {
  margin-inline: 15px;
}

button:hover {
  cursor: pointer;
}

/* ------------------------------------------------ */

.dropdownContainer {
  position: relative;
}

.dropdownmenu {
  margin-left: 10px;
  position: absolute;
  z-index: 1;
  min-width: 180px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(161, 148, 247, 0.2);
  border-top: 2px solid orange;
  font-size: 14px;
}

.rightSection .navlink {
  margin-right: 50px;
}

.rightSection .dropdownmenu {
  max-width: 200px;
  left: 10px;
}

.dropdownContainer:hover .dropdownmenu {
  display: block;
}

.dropdownmenu a {
  text-decoration: none;
  color: rgb(80, 80, 87);
  padding: 12px 16px;
  display: block;
  border-bottom: solid 1px rgb(245, 241, 241);
  cursor: pointer;
}

.dropdownmenu a:hover {
  background-color: #fdebeb;
}

.dropdownContainer .icon {
  margin-inline: 8px;
}

.dropdownContainer p {
  font-weight: 500;
}

/* ---------------------------------------------- */
/* header and nav buttons */

.loginBtn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;

  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right, #1e196b, #2e26a1);
  color: white;
  font-weight: 600;
}

.createAccBtn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;

  padding: 6px 18px;
  border: none;
  text-decoration: none;
  border-radius: 18px;
  border: none;
  background: linear-gradient(to right, #1e196b, #2e26a1);
  color: white;
  font-weight: 600;
}

/* ----------- hamburgers ---------------- */

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-inline: 20px;
}

.hamburgerContainer {
  display: none;

  /* background-color: black; */
}

.hamburgerIcon {
  cursor: pointer;
  font-size: 2rem;
}

/* When the menu is open, display the links */
.showMenu {
  display: flex !important;
  flex-direction: column;
  /* justify-content: center; */
  gap: 5px;
  position: absolute;
  top: 60px;
  right: 5px;
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* For screens <= 950px, hide the links by default */
@media (max-width: 950px) {
  .navLinks {
    display: none; /* Hide links by default on small screens */
  }

  .hamburgerContainer {
    display: flex; /* Show the hamburger icon */
    height: 100%;
    /* background-color: pink; */
    /* align-items: center; */
    justify-content: center;
    /* margin-block: 5px; */
    padding: 10px;
  }

  .navLinks.showMenu {
    display: flex; /* Show the links when menu is open */
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
  }

  .showMenu .navlink {
    border-bottom: 1px rgb(244, 220, 176) solid;
    width: 100%;
    margin: 5px;
    padding: 10px 30px;
    gap: 10px;
  }

  .leftSection {
    display: none;
  }

  .createAccBtn {
    width: 100px;
    padding: 5px 20px;
  }

  .rightSection {
    display: none;
  }

  .loginBtn {
    margin-top: 10px;
  }
}
