.stationCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 18px;
  background-image: url("/images/orangeGradient.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 462px;
  height: 193px;
  color: antiquewhite;
  font-family: Roboto;
}

.description {
  display: flex;
  gap: 20px;
}
