.container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-image: url("/images/ellipse.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  padding-left: 1.5rem;
  margin: 2.2rem 0;
}

.layoutContainer {
  display: flex;
  gap: 2rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 33.3%;
  height: 90%;
  margin: 3rem 0;
}

.rightContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

/* if no station cards match, show message */
.noResultsMsg {
  font-family: Roboto;
  color: #6c6c6c;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
}

@media (max-width: 768px) {
  .mapContainer {
    height: 300px;
    width: 100%;
  }

  .layoutContainer {
    flex-direction: column-reverse;
  }

  .leftContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding: 0%;
    width: 100%;
  }
}
