.homepageImageContainer {
  width: 100vw;
  margin-block: 20px;
}

.homepageImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 100px;
  margin-block: 10px;
  padding: 60px 10px;
  width: 100vw;
  background-color: white;
}

.ContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: white;
}

.ContentContainerFlipped {
  flex-direction: row-reverse;
}

.serviceDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

.serviceDetailsContainerFlipped {
  flex-direction: row-reverse;
}

.serviceDetailsContainerFlipped .serviceDetails {
  align-items: end;
  text-align: right;
}

.serviceDetails {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  color: #1e196b;
  font-weight: 500;
}

.serviceDetails .serviceBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 160px;
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #f36f21;
  color: white;
  text-decoration: none;
}

.serviceDetails .serviceBtn:hover {
  background-color: #ffb752;
  color: #1e196b;
  transition: all 0.3s ease-in-out;
}

.serviceImageContainer {
  width: 350px;
  display: flex;
  object-fit: contain;
  align-items: center;
  border-radius: 30px;
}

.serviceImg {
  width: 100%;
  height: 100%;
}
